# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Environment variables
.env

# Vector stores
**/chroma_db/
**/faiss_doc_idx/

# Gradio
*.gradio/

# Generated outputs
output/

# Large data files
*.csv
